[Desktop Entry]
Encoding=UTF-8
Name=vkeybd
Name[xh]=i-vkeybd
Name[ta]=பெயர்(vkeybd.டெஸ்க்டாப்): vkeybd
Comment=A virtual MIDI keyboard
Comment[da]=Et virtuel MIDI tastatur
Comment[pt_BR]=Um teclado MIDI virtual
Comment[ru]=Виртуальная клавиатура MIDI
Comment[km]=ក្ដារចុច​មីឌីនិម្មិត
Comment[pl]=Wirtualna klawiatura MIDI
Comment[bg]=Виртуална MIDI клавиатура
Comment[zh_CN]=虚拟 MIDI 键盘
Comment[cs]=Virtuální MIDI klávesy
Comment[uk]=Віртуальна клавіатура MIDI
Comment[fi]=Virtuaaliset MIDI-koskettimet
Comment[de]=Virtuelles MIDI-Keyboard
Comment[sv]=Ett virtuellt MIDI-tangentbord
Comment[pt]=Teclado MIDI virtual
Comment[ja]=仮想 MIDI キーボード
Comment[el]=Ένα εικονικό πληκτρολόγιο MIDI
Comment[lt]=Virtuali MIDI klaviatūra
Comment[nb]=Et virtuelt MIDI-tangentbord
Comment[mr]=व्हर्च्युअल MIDI कीबोर्ड
Comment[wa]=Ene forveyowe taprece MIDI
Comment[ar]=لوحة مفاتيح MIDI ظاهرية
Comment[xh]=Ibhodi yamaqhosha yenene ye-MIDI
Comment[hu]=Virtuális MIDI-billentyűzet
Comment[es]=Un teclado MIDI virtual
Comment[nl]=Een virtueel MIDI toetsenbord
Comment[ca]=Un teclat de MIDI virtual
Comment[sk]=Virtuálne MIDI klávesy
Comment[af]=’n Skyn-MIDI-sleutelbord
Comment[zh_TW]=虛擬 MIDI 鍵盤
Comment[it]=Tastiera MIDI virtuale
Comment[et]=Virtuaalne MIDI klaviatuur
Comment[fr]=Un clavier MIDI virtuel
Comment[ta]=கருத்துரை(vkeybd.டெஸ்க்டாப்): ஒரு கற்பனையான மிடி கீபோர்ட்
Comment[pa]=ਇੱਕ ਵੁਰਚੁਅਲ MIDI ਕੀ-ਬੋਰਡ
Type=Application
Exec=vkeybd
Icon=vkeybd_48x48
Terminal=false
StartupWMClass=vkeybd.tcl
Categories=Application;AudioVideo;Audio;Music
